Magic 271485
Revision Verdi_R-2020.12-SP1-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 3840 1927 239 144

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/jpohov2/ece411/mp4/mp4/sim/dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 7966004.134585 8481724.326850
cursor 8195000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 87
; marker line index
markerPos 44

; rename signal list
; addRenameSig new_name org_name
activeDirFile "" "/home/jpohov2/ece411/mp4/mp4/sim/dump.fsdb"

addRenameSig "/mp4_tb/dut/d0/ID/ID_opcode[6:0]" "/mp4_tb/dut/d0/ID/opcode[6:0]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/mp4_tb/dut/d0/ID/rID_d[4:0]" "/mp4_tb/dut/d0/ID/rd[4:0]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/mp4_tb/dut/d0/ID/ID_rd[4:0]" "/mp4_tb/dut/d0/ID/rID_d[4:0]" keep

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/mp4_tb/dut/d0/ID/ID_rs1[4:0]" "/mp4_tb/dut/d0/ID/rs1[4:0]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/mp4_tb/dut/d0/ID/ID_rs2[4:0]" "/mp4_tb/dut/d0/ID/rs2[4:0]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/mp4_tb/dut/d0/ID/ID_rs1_out[31:0]" "/mp4_tb/dut/d0/ID/rs1_out[31:0]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/mp4_tb/dut/d0/ID/ID_rs2_out[31:0]" "/mp4_tb/dut/d0/ID/rs2_out[31:0]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/jpohov2/ece411/mp4/mp4/sim/dump.fsdb"
addSignal -h 15 /mp4_tb/dut/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/ID/regfile/data[0:31]
addSignal -h 15 /mp4_tb/dut/d0/IF/IF_PC_write_i
addSignal -h 15 -holdScope IF_alu_out_i[31:0]
addSignal -h 15 -UNSIGNED -holdScope IF_pcmux_sel_i[1:0]
addSignal -h 15 -holdScope pcmux_out[31:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope IF_pc_out_o[31:0]
addSignal -h 15 -holdScope IF_instr_mem_rdata_i[31:0]
addSignal -h 15 -holdScope IF_instr_out_o[31:0]
addSignal -h 15 /mp4_tb/dut/d0/ID/ID_halt_en_o
addSignal -h 15 /mp4_tb/dut/d0/EX/EX_halt_en_o
addSignal -h 15 /mp4_tb/dut/d0/MEM/MEM_halt_en_o
addSignal -h 15 /mp4_tb/dut/d0/WB/WB_halt_en_i
addGroup "G12"
addSignal -h 15 /mp4_tb/dut/d0/IF_ID/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope load_i
addSignal -h 15 -holdScope flush_i
addSignal -h 15 -holdScope IF_ID_br_pred_i
addSignal -h 15 -holdScope IF_ID_br_pred_o
addSignal -h 15 -holdScope IF_ID_instr_i[31:0]
addSignal -h 15 -holdScope IF_ID_instr_o[31:0]
addSignal -h 15 -holdScope IF_ID_pc_out_i[31:0]
addSignal -h 15 -holdScope IF_ID_pc_out_o[31:0]
addSignal -h 15 -holdScope br_pred
addSignal -h 15 -holdScope instr[31:0]
addSignal -h 15 -holdScope pc_out[31:0]
addGroup "ID"
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/ID/ID_ctrl_word_o
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope ID_pc_out_o[31:0]
addSignal -h 15 -holdScope ID_instr_i[31:0]
addSignal -h 15 -UNSIGNED -holdScope ID_opcode[6:0]
addSignal -h 15 -holdScope u_imm[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ID_rd[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ID_rs1[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ID_rs2[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ID_rs1_out[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ID_rs2_out[31:0]
addSignal -h 15 -holdScope ID_HD_controlmux_sel_i
addSignal -h 15 -holdScope stall_ID_EX_ld
addSignal -h 15 -holdScope stall_IF_ID_ld
addSignal -h 15 -holdScope one_cycle_nop_insertion_delay
addSignal -h 15 -holdScope ID_instr_mem_resp_i
addSignal -h 15 -holdScope ID_if_id_flush_o
addSignal -h 15 -holdScope br_en
addSignal -h 15 /mp4_tb/dut/d0/ID/ctrl_rom/funct3[2:0]
addSignal -h 15 -holdScope funct7[6:0]
addSignal -h 15 -UNSIGNED -holdScope opcode[6:0]
addSignal -h 15 -holdScope ctrl
addSignal -h 15 /mp4_tb/dut/d0/ID/ctrl_word_hd
addSignal -h 15 -UNSIGNED -holdScope ID_forwardD_i[2:0]
addSignal -h 15 -UNSIGNED -holdScope ID_forwardE_i[2:0]
addSignal -h 15 -holdScope EX_MEM_alu_out[31:0]
addSignal -h 15 -holdScope EX_alu_out[31:0]
addSignal -h 15 -holdScope MEM_WB_alu_out[31:0]
addSignal -h 15 -holdScope MEM_data_mem_rdata[31:0]
addSignal -h 15 -holdScope WB_data_mem_rdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rs1_out[31:0]
addSignal -h 15 -holdScope br_in1[31:0]
addSignal -h 15 -holdScope br_in2[31:0]
addSignal -h 15 -holdScope branch_pc[31:0]
addSignal -h 15 -holdScope br_equal
addGroup "EX"
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/EX/EX_ctrl_word_o
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope EX_pc_out_o[31:0]
addSignal -h 15 -holdScope EX_instr_i[31:0]
addSignal -h 15 -UNSIGNED -holdScope EX_ctrl_word_o.opcode[6:0]
addSignal -h 15 -holdScope EX_u_imm_i[31:0]
addSignal -h 15 -holdScope EX_ctrl_word_o.alumux1_sel
addSignal -h 15 -UNSIGNED -holdScope EX_ctrl_word_o.alumux2_sel[2:0]
addSignal -h 15 -holdScope EX_ctrl_word_o.cmpmux_sel
addSignal -h 15 -UNSIGNED -holdScope EX_forwardA_i[2:0]
addSignal -h 15 -UNSIGNED -holdScope EX_forwardB_i[2:0]
addSignal -h 15 -holdScope EX_rd_o[4:0]
addSignal -h 15 -holdScope EX_rs1_o[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope EX_rs2_o[4:0]
addSignal -h 15 -holdScope EX_rs1_out_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope EX_rs2_out_o[31:0]
addSignal -h 15 -UNSIGNED /mp4_tb/dut/d0/EX/alu/aluop[2:0]
addSignal -h 15 -holdScope a[31:0]
addSignal -h 15 -holdScope b[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope f[31:0]
addSignal -h 15 /mp4_tb/dut/d0/EX/EX_alu_out_o[31:0]
addSignal -h 15 -UNSIGNED -holdScope EX_forwardB_i[2:0]
addSignal -h 15 -holdScope EX_from_MEM_alu_out_i[31:0]
addSignal -h 15 -holdScope EX_from_MEM_u_imm_i[31:0]
addSignal -h 15 -holdScope EX_from_WB_regfilemux_out_i[31:0]
addSignal -h 15 -holdScope EX_from_WB_u_imm_i[31:0]
addSignal -h 15 -holdScope EX_rs2_out_i[31:0]
addSignal -h 15 -holdScope forwardmuxB_out[31:0]
addSignal -h 15 -holdScope alumux2_out[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope EX_rs2_out_o[31:0]
addGroup "MEM"
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/MEM/MEM_ctrl_word_o
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope MEM_pc_out_o[31:0]
addSignal -h 15 -holdScope MEM_instr_i[31:0]
addSignal -h 15 /mp4_tb/dut/d0/EX_MEM/EX_MEM_rs1_o[4:0]
addSignal -h 15 -holdScope EX_MEM_rs2_o[4:0]
addSignal -h 15 -holdScope EX_MEM_rd_o[4:0]
addSignal -h 15 /mp4_tb/dut/d0/MEM/MEM_rd_i[4:0]
addSignal -h 15 -holdScope MEM_alu_out_o[31:0]
addSignal -h 15 /mp4_tb/dut/d0/forwarding/forwardC
addSignal -h 15 -holdScope load_hazard
addSignal -h 15 /mp4_tb/dut/d0/MEM_WB/MEM_WB_data_mem_address_i[31:0]
addSignal -h 15 -holdScope MEM_WB_data_mem_rdata_i[31:0]
addSignal -h 15 -holdScope MEM_WB_data_mem_wdata_i[31:0]
addSignal -h 15 /mp4_tb/dut/d0/MEM/MEM_mem_read_o
addSignal -h 15 /mp4_tb/dut/d0/data_mem_read
addSignal -h 15 /mp4_tb/dut/data_mem_read
addSignal -h 15 /mp4_tb/dut/cache/data_mem_read
addSignal -h 15 /mp4_tb/dut/cache/data_cache/mem_read
addSignal -h 15 /mp4_tb/dut/cache/d_pmem_read
addGroup "WB"
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/WB/WB_ctrl_word_i
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope WB_pc_out_i[31:0]
addSignal -h 15 -holdScope WB_instr_i[31:0]
addSignal -h 15 -holdScope WB_load_regfile_o
addSignal -h 15 -holdScope WB_rd_i[4:0]
addSignal -h 15 -holdScope WB_regfilemux_out_o[31:0]
addGroup "data cache" -e FALSE
addSignal -h 15 /mp4_tb/dut/cache/d_pmem_resp
addSignal -h 15 -holdScope d_pmem_read
addSignal -h 15 -holdScope d_pmem_write
addSignal -h 15 -holdScope d_pmem_address[31:0]
addSignal -h 15 -holdScope d_pmem_rdata[255:0]
addSignal -h 15 -holdScope d_pmem_wdata[255:0]
addSignal -h 15 -holdScope data_mem_resp
addSignal -h 15 -holdScope data_mem_read
addSignal -h 15 -holdScope data_mem_write
addSignal -h 15 -holdScope data_mem_address[31:0]
addSignal -h 15 -holdScope data_mem_rdata[31:0]
addSignal -h 15 -holdScope data_mem_wdata[31:0]
addSignal -h 15 -holdScope data_mem_byte_enable[3:0]
addSignal -h 15 /mp4_tb/dut/cache/data_cache/hit
addGroup "instruction cache"
addSignal -h 15 /mp4_tb/dut/cache/i_pmem_resp
addSignal -h 15 -holdScope i_pmem_read
addSignal -h 15 -holdScope i_pmem_write
addSignal -h 15 -holdScope i_pmem_address[31:0]
addSignal -h 15 -holdScope i_pmem_rdata[255:0]
addSignal -h 15 -holdScope i_pmem_wdata[255:0]
addSignal -h 15 -holdScope instr_mem_resp
addSignal -h 15 -holdScope instr_mem_read
addSignal -h 15 -holdScope instr_mem_write
addSignal -h 15 -holdScope instr_mem_address[31:0]
addSignal -h 15 -holdScope instr_mem_rdata[31:0]
addSignal -h 15 -holdScope instr_mem_wdata[31:0]
addSignal -h 15 -holdScope instr_mem_byte_enable[3:0]
addSignal -h 15 /mp4_tb/dut/cache/instruction_cache/hit
addGroup "arbiter"
addSignal -h 15 /mp4_tb/dut/cache/arbiter/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope d_request
addSignal -h 15 -holdScope i_request
addSignal -h 15 -UNSIGNED -holdScope state[31:0]
addSignal -h 15 -holdScope main_pmem_resp
addSignal -h 15 -holdScope data_mem_resp
addSignal -h 15 -holdScope instr_mem_resp
addSignal -h 15 -holdScope main_pmem_address[31:0]
addSignal -h 15 -holdScope data_mem_address[31:0]
addSignal -h 15 -holdScope instr_mem_address[31:0]
addSignal -h 15 -holdScope main_pmem_read
addSignal -h 15 -holdScope data_mem_read
addSignal -h 15 -holdScope instr_mem_read
addSignal -h 15 -holdScope main_pmem_rdata[255:0]
addSignal -h 15 -holdScope data_mem_rdata[255:0]
addSignal -h 15 -holdScope instr_mem_rdata[255:0]
addSignal -h 15 -holdScope main_pmem_write
addSignal -h 15 -holdScope data_mem_write
addSignal -h 15 -holdScope instr_mem_write
addSignal -h 15 -holdScope main_pmem_wdata[255:0]
addSignal -h 15 -holdScope data_mem_wdata[255:0]
addSignal -h 15 -holdScope instr_mem_wdata[255:0]
addGroup "G11"
addSignal -h 15 /mp4_tb/dut/cache/cacheline_adaptor/resp_i
addSignal -h 15 -holdScope burst_i[63:0]
addSignal -h 15 /mp4_tb/dut/cache/address_i[31:0]
addSignal -h 15 -holdScope pmem_address[31:0]
addGroup "stall_for_mem"
addSignal -h 15 /mp4_tb/dut/d0/stall_for_mem/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope IF_i_cache_read_stall_o
addSignal -h 15 -holdScope stall_i_cache_pc_o
addSignal -h 15 -holdScope stall_IF_ID_ld_o
addSignal -h 15 -holdScope stall_ID_EX_ld_o
addSignal -h 15 -holdScope stall_EX_MEM_ld_o
addSignal -h 15 -holdScope stall_MEM_WB_ld_o
addSignal -h 15 -holdScope EX_MEM_ctrl_word_i
addSignal -h 15 -holdScope EX_MEM_ld_flag
addSignal -h 15 -holdScope data_mem_resp_i
addSignal -h 15 -holdScope instr_mem_resp_i
addSignal -h 15 -holdScope mem_data_access
addGroup "PCs and load"
addSignal -h 15 /mp4_tb/dut/d0/EX_MEM/clk
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/IF/IF_pc_out_o[31:0]
addSignal -h 15 /mp4_tb/dut/d0/IF_ID/IF_ID_pc_out_i[31:0]
addSignal -h 15 -holdScope flush_i
addSignal -h 15 -holdScope load_i
addSignal -h 15 -holdScope IF_ID_pc_out_o[31:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/ID/ID_pc_out_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ID_ctrl_word_o
addSignal -h 15 /mp4_tb/dut/d0/ID_EX/ID_EX_pc_out_i[31:0]
addSignal -h 15 -holdScope load_i
addSignal -h 15 -holdScope ID_EX_pc_out_o[31:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/EX/EX_pc_out_o[31:0]
addSignal -h 15 -holdScope EX_ctrl_word_i
addSignal -h 15 /mp4_tb/dut/d0/EX_MEM/EX_MEM_pc_out_i[31:0]
addSignal -h 15 -holdScope load_i
addSignal -h 15 -holdScope EX_MEM_pc_out_o[31:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/MEM/MEM_pc_out_o[31:0]
addSignal -h 15 -holdScope MEM_ctrl_word_i
addSignal -h 15 /mp4_tb/dut/d0/MEM_WB/MEM_WB_pc_out_i[31:0]
addSignal -h 15 -holdScope load_i
addSignal -h 15 -holdScope MEM_WB_pc_out_o[31:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /mp4_tb/dut/d0/WB/WB_pc_out_i[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope WB_ctrl_word_i
addGroup "G13"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/jpohov2/ece411/mp4/mp4/sim/dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/mp4_tb"
"/mp4_tb/dut"
"/mp4_tb/dut/cache"
"/mp4_tb/dut/d0"
"/mp4_tb/dut/d0/EX_MEM"
"/mp4_tb/dut/d0/ID_EX"
"/mp4_tb/dut/d0/IF"
"/mp4_tb/dut/d0/IF_ID"
"/mp4_tb/dut/d0/MEM_WB"
"/mp4_tb/dut/d0/WB"
"/mp4_tb/dut/d0/forwarding"
"/mp4_tb/dut/d0/stall_for_mem"

SCOPE_LIST_BEGIN
"/mp4_tb"
"/mp4_tb/dut"
"/mp4_tb/dut/d0"
"/mp4_tb/dut/d0/ID"
"/mp4_tb/dut/d0/ID/regfile"
"/mp4_tb/dut/d0/IF/pc_mux"
"/mp4_tb/dut/d0/IF/pc_register"
"/mp4_tb/dut/d0/IF/setOutput"
"/mp4_tb/dut/d0/IF_ID"
"/mp4_tb/dut/d0/IF"
"/mp4_tb/dut/d0/EX"
"/mp4_tb/dut/d0/MEM"
"/mp4_tb/dut/d0/WB"
"/mp4_tb/dut/d0/ID/branch_resolver"
"/mp4_tb/dut/d0/hazard_detector"
"/mp4_tb/dut/d0/EX/ALU_MUX"
"/mp4_tb/dut/d0/EX/alu"
"/mp4_tb/dut/d0/forwarding"
"/mp4_tb/dut/d0/ID_EX"
"/mp4_tb/dut/d0/forwarding/forwardingC"
"/mp4_tb/dut/d0/MEM_WB"
"/mp4_tb/dut/d0/EX_MEM"
"/mp4_tb/dut/d0/ID/ctrl_rom"
"/mp4_tb/dut/d0/stall_for_mem"
"/mp4_tb/dut/cache"
"/mp4_tb/dut/cache/arbiter"
"/mp4_tb/dut/cache/data_cache"
"/mp4_tb/dut/d0/MEM_PORTS"
"/mp4_tb/dut/cache/cacheline_adaptor"
"/mp4_tb/dut/cache/instruction_cache"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


